#verbose-output {
	position:fixed;
	top:5px;
	right:5px;
	width:500px;
	height:95%;
	border:1px solid #333;
	overflow:auto;
	padding: 2px;
}

#verbose-output pre { background-color: #002f58; color: #fff; }
#verbose-output code .string { color: #3ad900; }
#verbose-output code .keyword { color: #ffee7d; }
#verbose-output code .operator { color: #f29d20; }
#verbose-output code .xml { color: #d27d00; }
/*#verbose-output code .type { color: #ff9d1b; }*/
#verbose-output code .type { color: #f8d700; }
#verbose-output code .global { color: #f8d700; }
#verbose-output code .attr { color: #eb8f86; }
