/* reset */
body, html { color:#333; font-family:Helvetica, Verdana; font-size:14px; }
a { text-decoration:none; color:#138; }
p, li { line-height: 24px; }

/* app */
#app { width:990px; margin: 50px auto; }

/* section: header */
.header { border-bottom:1px solid #999; }
	.logo { font-size: 60px; margin-bottom:0; cursor:pointer; }
	.slogan { float:left; margin-top:5px; }
	.made-by { float:right; font-size:18px; margin-top:5px; }

/* section: header spacing */
.spacing { clear:both; height:20px; }

/* section: navigation */
.navigation { border-right: 1px solid #999; width:250px; float:left; }
	.navigation-item { margin:0 0 8px 10px; cursor:pointer; color:#137; }

/* section: content */
.content { margin:0 0 0 280px; }
