body, html { font-family: Helvetica, sans-serif; font-size: 14px; color: #555;
	background: #f2f8ff; overflow: hidden; }

.chat { margin-bottom: 20px; }

.title { font-size: 20px; }

.rooms { width: 200px; float: left; }
.rooms .room { margin: 8px 0 8px 10px; }
.rooms .room .name { font-size: 16px; }

input { margin: 5px; width: 200px; padding: 5px;
	border: 1px solid #649fd8; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

.newRoom input { width: 100px; }

.user { margin-top: 10px; }
.user input { width: 100px; }

.messages { margin-left: 200px; }
.message { margin: 4px; padding: 5px; background: #fff;
	border: 1px solid #a4c9eb; -moz-border-radius: 4px; -webkit-border-radius: 4px; }

.messageInput { width: 330px; margin-bottom: 20px; }