gradient(colorFrom, colorTo)
	background colorFrom;
	background -webkit-gradient(linear, left top, left bottom, from(colorFrom), to(colorTo) );
	background -moz-linear-gradient(top, colorFrom, colorTo);

.image img
	float left;

.head
	height 100%; gradient(#675C52, #3F3831); color #160F08; text-shadow 0 1px 0 #aaa; font-size 18px;
	.title
		text-align center; padding 10px 0 0 0;
	.accessory.left
		position absolute; top 10px; left 4px; cursor pointer;
